.leftHeader {
    max-width: 260px;
    position: fixed;
    
    &__box {
        padding: 30px;
    }

    &__img-logo {
        margin: 0 auto;
        margin-bottom: 48px;
    }

    &__item {
        margin-bottom: 12px;
    }

    &__link {
        font-family: "Montserrat", "Arial", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #000;
        transition: all 0.3s ease-in-out;
    }

    &__link:hover {
        color: red;
    }

    &__link::before{
        content: "";
        width: 10px;
        height: 10px;
        background-image: url("../../img/logoGV.svg");
        background-position: 0 0;
        background-size: contain;
        position: absolute;
        left: -15px;
    }

    .active {
        color: red;
        display: flex;
        align-items: center;
        position: relative;
    }

    .active::before{
        content: "";
        width: 10px;
        height: 10px;
        background-image: url("../img/logoGV.svg");
        background-position: 0 0;
        background-size: contain;
        position: absolute;
        left: -15px;
    }

    &__otdel {
        font-family: "Montserrat", "Arial", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 37px;
    }

    &__address {
        position: relative;
        margin-left: 30px;
        margin-top: 15px;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__links {
        font-style: normal;
        font-family: "Montserrat", "Arial", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #000;
        margin-bottom: 20px;
    }       

    &__address::before {
        content: "";
        width: 22px;
        height: 22px;
        background-image: url("../../img/lication.svg");
        background-position: 0 0;
        background-size: contain;
        position: absolute;
        left: -35px;
        cursor: pointer;
    }

    &__linkses {
        font-family: "Montserrat", "Arial", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #000;
        position: relative;
        
    }

    &__linkses::before {
        content: "";
        width: 22px;
        height: 22px;
        background-image: url("../../img/phoneicon.svg");
        background-position: 0 0;
        background-size: contain;
        position: absolute;
        left: -35px;
        cursor: pointer;
    }

    &__linkss {
        display: block;
        font-family: "Montserrat", "Arial", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #E31E24;
        margin-top: 20px;
        text-decoration: underline;
    }

    &__ins {
        margin-top: 20px;
    }

}
